html { font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif; background: #646e82; padding: 1rem; }
body { max-width: 1080px; margin: 0 auto; background: #282c34; border-radius: 5px; color: #23d60f;}
h1 { font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;  margin: 1rem 0; }
a { color: #23d60f; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: #4e5565; display: flex; align-items: center; padding: 0 0.5rem; min-height: 35px; border-radius: 5px;}
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #4e5565; border: 1px solid #377ba8; }
.post { padding: 10px; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.post.draft { font-style: italic; background-color: #eee; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
.meta { font-style: italic; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; background: #4e5565; border-radius: 5px; color: #23d60f;}
code {
    max-width: 100%;
}
code pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.log ul { display: flex; list-style: none; margin: 0; padding: 0; }
.log ul li a, .log ul li span { display: block; padding: 0.5rem; }

