<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
    <title>😎SO fresh SO clean😎</title>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/cart">Cart</a></li>
			</ul>
		</nav>
      <h1>Welcome to the freshest and cleanest shopping website</h1>
	</header>
	<main>
		<h2>Your cart:</h2>
        <p style="font-size: 15px; font-weight: bold; text-transform: uppercase; letter-spacing: 1px;">{{ item }}</p>
	</main>
    <footer>
      <p>&copy; 2023 My Online Shop</p>
	</footer>
</body>
</html>

