<!doctype html>
<head>
    <title>Memes Corporated - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐑</text></svg>">
</head>
<body>
    <nav>
        <h1><a href="{{ url_for('index') }}">Memes Corporated</a></h1>
        <ul>
        {% if 'user' in auth %}
            <li><span>{{ auth.user }}</span></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
        {% else %}
            <li><a href="{{ url_for('register') }}">Register</a></li>
            <li><a href="{{ url_for('login') }}">Log In</a></li>
        {% endif %}
        </ul>
    </nav>
    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </section>
</body>
