<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VHS MegaStore</title>
</head>

<body>
    <h1>Hi <%= package_info.name %>, your VHS is ready!</h1>

    <p><strong>VHSMegaStore</strong> is happy confirm that your VHS is going to get sent to the following address:</p>
    <p><strong><%= package_info.address %></strong></p>
    <p>Have a good time watching <%= package_info.vhs %>!</p>
    
</body>

</html>
