{% extends 'base.html' %}

{% block navtitle %}{% block title %}RegEx Patterns For Sale!{% endblock %}{% endblock %}

{% block content %}

<div class="columns">
  <div class="column is-three-fifths is-offset-one-fifth">
    <div class="box block">
      <span class="is-block mb-2"><h3>Welcome to my database of valuable RegEx patterns.</h3></span>
      <div class="content">
        <p>Welcome to my database of valuable RegEx patterns. These patterns are sure to make you a lot of money in bug bounty if you know where to look! This list of patterns has a proven track record and has allowed me to make more than $200k in bug bounties over the last 12 months!!!!!!!</p>
        <br>
        <p>I am willing to sell these patterns to you for a measly $10k. Send me the receipt to <a href="mailto:elonmusk@taxevasion.info">elonmusk@taxevasion.info</a> and I will reply with the token.</p>
        <br>
        <p>You can check out some random samples <a href="/patterns?free=true">here</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
