{% extends 'base.html' %}

{% block navtitle %}{% block title %}Stat This{% endblock %}{% endblock %}

{% block content %}
    <h1 class="title">The fastest stat displayer on the western hemisphere</h1>
    <p>
      Welcome to the fastest stat displayer on the western hemisphere!
    </p>
    <p>
      Our application is incredibly secure™ still our most recent pentest said we weren't secure enough.
    </p>
    <p>
      However that bug was so weird and obscure we decided that it was a won't fix as no one would be able to find this bug.
    </p>
{% endblock %}
